<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/forgpass.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="form-title">Forget Password</h1>
      <form id="forget-password-form"  method="POST" action="/forgpass">
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            required
          />
          <label for="email">Email</label>
        </div>
        <input type="submit" class="btn" value="Generate OTP" />
      </form>
      <div class="links">
        <p>Remembered your password?</p>
        <button id="signInButton">Sign In</button>
      </div>
    </div>
    <script>
      document .getElementById("signInButton") .addEventListener("click",
      function () { window.location.href = "/loginform"; }); 


      /*document.getElementById("forget-password-form") .addEventListener("submit",
      function (event) { event.preventDefault(); 
      const email =document.getElementById("email").value; // Simulate sending reset link
      alert(`A reset link has been sent to ${email}`); });
      */
      
    </script>
  </body>
</html>