<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title>
    <link rel="stylesheet" href="gpstracker.css">
</head>
<body>
    <div class="container" action="/gpstracker" method="POST">
        <h1 class="title">GPS Tracker</h1>
        <button class="btn-track" onclick="getLocation()">Get Location</button>
        <p class="location-display" id="location">Location will appear here</p>
    </div>
    <script src="/js/gpstracker.js"></script>
</body>
</html>
