<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
        <nav class="navbar">
            <img src="/images/nitte-nmit-logo.png" class="logo" alt="Logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/routelist">Route List</a></li>
                <li><a href="/payment">Fee Payment</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- Updated login and signup links -->
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign In</a></li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>
    </div>
    </header>

    <main>
        <div class="photo-container">
            <img src="/images/bus.jpg" alt="Center Photo">
            <div class="fade-in-text">Bus Management System</div>
        </div>
        <div class="transport-info">
            
            <h2>TRANSPORTATION FACILITY</h2>
           <hr class="styled-hr1">
            <p>The College provides transportation facility to students and staff who commute to and from college. College buses cover the majority of regions in Bangalore, Chickballapur, and Doddaballapur.</p>
            <p><b>Phone No: 080-22167812</b></p>
        </hr>
        </div>
        <div class="announcements">
            <h2>SITE ANNOUNCEMENTS</h2>
            <hr class="styled-hr1">
            <ul>
                <li>Registration for 2024 is open now!</li>
                <li>Last Date is 10/11/2024</li>
            </ul>
        </hr>
        </div>
    </main>

    <footer>
        <div class="contact-info">
            <h4>Contact</h4>
            <hr class="styled-hr2">
            <p>Nitte Meenakshi Institute of Technology,</p>
            <p>P.B.No.6429, Yelahanka, Bangalore 560064,</p>
            <p>Karnataka, India.</p>
            <p>Office: 080 2216 7800</p>
        </hr>
        </div>
        <div class="rights">
        <p>&copy; 2024 Nitte Meenakshi Institute Of Technology. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
