<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Route Lists</title>
  <link rel="stylesheet" href="home.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">
          <img src="../images/nmit-logo.svg" class="logo" alt="Logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/routelist">Route List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/payment">Fee Payment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign In</a>
            </li>
          </ul>
          <form class="form-inline ms-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </header>
    <div class="container my-5">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><b>Route List</b></li>
        </ol>
      </nav>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 1</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Navarang Circle</td>
              <td>7:35 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kuvempu Metro Station</td>
              <td>7:36 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Harishchandra Ghat</td>
              <td>7:38 AM</td>
              <td>6:07 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Devaiah Park</td>
              <td>7:38 AM</td>
              <td>6:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>KC General</td>
              <td>7:40 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Malleshwaram Circle</td>
              <td>7:40 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Malleshwaram, 11th Cross</td>
              <td>7:45 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Malleshwaram, 13th Cross</td>
              <td>7:47 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Malleshwaram, 18th Cross</td>
              <td>7:50 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 2</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1
              </td>
              <td>Chikkabanavara</td>
              <td>7:10 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Chikkabanavara RS</td>
              <td>7:15 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Sapthagiri Hospital</td>
              <td>7:18 AM</td>
              <td>6:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Sapthagiri College</td>
              <td>7:20 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Bonemill Bus Stop</td>
              <td>7:22 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Bagalagunte</td>
              <td>7:25 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Widia School Stop</td>
              <td>7:27 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>8th Mile</td>
              <td>7:30 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 3</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Kadirenahalli Cross</td>
              <td>7:00AM</td>
              <td>6:50PM</td>
              <td>30,000 Rs</td>

            </tr>
            <tr>
              <td>2</td>
              <td>Sarakki Signal</td>
              <td>7:05AM</td>
              <td>6:40PM</td>
              <td>30,000 Rs</td>

            </tr>
            <tr>
              <td>3</td>
              <td>RV Dental College</td>
              <td>7:10AM</td>
              <td>6:40PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Raghavendra Swamy Temple</td>
              <td>7:12AM</td>
              <td>6:30PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Satya Sai, Jayanagar 4th Block</td>
              <td>7:13AM</td>
              <td>6:20PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Deepak Nursing Home</td>
              <td>7:18AM</td>
              <td>6:10PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Jayanagar Yediyur</td>
              <td>7:19AM</td>
              <td>6:05PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>R K Ashrama</td>
              <td>7:25AM</td>
              <td>6:00PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Double Road</td>
              <td>7:35AM</td>
              <td>5:45PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Raja Ram Mohan Roy Circle</td>
              <td>7:37AM</td>
              <td>5:42PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Corporation Circle</td>
              <td>7:40AM</td>
              <td>5:30PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Mysore Bank Circle</td>
              <td>7:45AM</td>
              <td>5:25PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NMIT</td>
              <td>8:30AM</td>
              <td>4:40PM</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 4</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td>K R Puram</td>
              <td>7:30 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>ITI Gate</td>
              <td>7:31 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Horamavu</td>
              <td>7:40 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Nagavara Bus Stop</td>
              <td>7:45 AM</td>
              <td>5:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Manyata Tech Park</td>
              <td>7:50 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Veeranna Palya</td>
              <td>7:55 AM</td>
              <td>5:05 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 5</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Electronic City</td>
              <td>6:50 AM</td>
              <td>7:20 PM</td>
              <td>35,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kudlu Gate Signal</td>
              <td>6:55 AM</td>
              <td>7:15 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Somasundarapalya</td>
              <td>7:00 AM</td>
              <td>6:50 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>HSR Saibaba Temple</td>
              <td>7:03 AM</td>
              <td>6:40 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>HSR BDA</td>
              <td>7:05 AM</td>
              <td>6:40 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Krupanidhi College</td>
              <td>7:10 AM</td>
              <td>6:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>C Bank Koramangala ,P Q</td>
              <td>7:15 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Sony World Signal</td>
              <td>7:16 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Domlur Signal</td>
              <td>7:23 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Indiranagar 6th Main Road</td>
              <td>7:25 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Indiranagar KFC</td>
              <td>7:26 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Ulsoor,Millinium Junction</td>
              <td>7:33 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Nandhini Hotel</td>
              <td>7:38 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Thomas Bakery</td>
              <td>7:40 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Coles Park</td>
              <td>7:45 AM</td>
              <td>5:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>AKS Choultary</td>
              <td>7:46 AM</td>
              <td>5:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Nandhi Durga Road</td>
              <td>7:50 AM</td>
              <td>5:23 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Fun World Junction</td>
              <td>7:52 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>18</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 6</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Nagarabhavia</td>
              <td>7:00 AM</td>
              <td>6:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>I.T.I Layout</td>
              <td>7:02 AM</td>
              <td>6:46 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Hosakere Halli</td>
              <td>7:10 AM</td>
              <td>6:35 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Nayandhalli Signal</td>
              <td>7:15 AM</td>
              <td>6:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Mysore Road Metro Station</td>
              <td>7:17 AM</td>
              <td>6:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>BHEL</td>
              <td>7:19 AM</td>
              <td>6:20 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Deepanjali Nagar Metro Station</td>
              <td>7:20 AM</td>
              <td>6:12 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Attiguppe Bus Stop</td>
              <td>7:22 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Maruthi Mandira</td>
              <td>7:25 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Vijayanagara</td>
              <td>7:28 AM</td>
              <td>5:53 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td> Hosahalli Metro</td>
              <td>7:30 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Toll Gate Bus Stop</td>
              <td>7:33 AM</td>
              <td>5:48 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Varier Bakery</td>
              <td>7:34 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Shivanahalli</td>
              <td>7:35 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Majunathanagara</td>
              <td>7:36 AM</td>
              <td>5:38 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <td>16</td>
            <td>Mahalakshmi Entrance</td>
            <td>7:40 AM</td>
            <td>5:30 PM</td>
            <td>30,000 Rs</td>
            <tr>
              <td>17</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 7</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Kavalabaira Sandra</td>
              <td>7:40 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Sulthan Palya</td>
              <td>7:41 AM</td>
              <td>5:38 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Dinnur</td>
              <td>7:42 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Dinnur 1st Point</td>
              <td>7:43 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Dinnur 2nd Point</td>
              <td>7:44 AM</td>
              <td>5:45 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Mattadahalli</td>
              <td>7:47 AM</td>
              <td>5:50 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Rehamath Nagar</td>
              <td>7:47 AM</td>
              <td>5:50 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>RT Nagar Post Office</td>
              <td>7:48 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>RT Nagar H M T Ground</td>
              <td>7:50 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Ganga Nagar</td>
              <td>7:54 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>CBI Turning</td>
              <td>7:55 PM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 8</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Anjana Nagar</td>
              <td>7:05 AM</td>
              <td>6:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Herohalli Cross</td>
              <td>7:15 AM</td>
              <td>6:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Sunkadakatte</td>
              <td>7:20 AM</td>
              <td>6:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Kottige Palya</td>
              <td>7:25 AM</td>
              <td>6:20 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Kamakshi Palya</td>
              <td>7:27 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Housing Board</td>
              <td>7:30 AM</td>
              <td>6:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Pavitra Paradise</td>
              <td>7:32 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Basaweshwar Nagara</td>
              <td>7:33 AM</td>
              <td>5:53 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Basaweshwar Water Tank</td>
              <td>7:35 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Shankar Matt</td>
              <td>7:37 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Modi Hospital</td>
              <td>7:38 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Swathi Restaurant</td>
              <td>7:40 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 9</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>1</td>
              <td>Guraguntepalya</td>
              <td>7:23 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Platinum City</td>
              <td>7:25 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>HMT Ground</td>
              <td>7:28 AM</td>
              <td>5:53 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>HMT Hospital</td>
              <td>7:30 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Vidyaranyapura Arch</td>
              <td>7:40 AM</td>
              <td>5:38 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Jelli Machine</td>
              <td>7:45 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Bettahalli</td>
              <td>7:50 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Tirumala Dhaba</td>
              <td>7:53 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Attur</td>
              <td>7:55 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Wheel & Axel</td>
              <td>7:57 AM</td>
              <td>5:10 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Puttenahalli</td>
              <td>8:00 AM</td>
              <td>5:05 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Ananthapura Gate</td>
              <td>8:03 AM</td>
              <td>5:00 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NCC</td>
              <td>8:05 AM</td>
              <td>4:55 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>CRPF</td>
              <td>8:10 AM</td>
              <td>4:50 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 10</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Cox Town</td>
              <td>7:20 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Chals School</td>
              <td>7:25 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Lingarajapuram</td>
              <td>7:30 AM</td>
              <td>5:47 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Hennur Bridge</td>
              <td>7:35 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <td>5</td>
            <td>Telecom Layout</td>
            <td>8:00 AM</td>
            <td>5:15 PM</td>
            <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Amruthahalli</td>
              <td>8:05 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 11</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Nelamangala Kunigal Circle</td>
              <td>6:50 AM</td>
              <td>6:45 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Harsha Hospital</td>
              <td>6:55 AM</td>
              <td>6:40 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Nelamangala Bus Stop</td>
              <td>7:00 AM</td>
              <td>6:38 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>T.B. Bus Stop</td>
              <td>7:00 AM</td>
              <td>6:36 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Colony Bus Stop</td>
              <td>7:05 AM</td>
              <td>6:30 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Arashinakunte</td>
              <td>7:10 AM</td>
              <td>6:30 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Dasanapura</td>
              <td>7:12 AM</td>
              <td>6:25 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Makali</td>
              <td>7:15 AM</td>
              <td>6:25 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Madanayakanahalli</td>
              <td>7:15 AM</td>
              <td>6:20 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>TCI</td>
              <td>7:20 AM</td>
              <td>6:15 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Madavara</td>
              <td>7:20 AM</td>
              <td>6:10 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Anchepalya</td>
              <td>7:22 AM</td>
              <td>6:25 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Chikka Bidrakallu</td>
              <td>7:25 AM</td>
              <td>6:20 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Nagasandra Metro</td>
              <td>7:25 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Dasarahalli</td>
              <td>7:33 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Jalahalli Cross</td>
              <td>7:35 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Aiyappa Temple</td>
              <td>7:38 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Settahalli Gate</td>
              <td>7:38 AM</td>
              <td>5:48 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Jalahalli West</td>
              <td>7:40 AM</td>
              <td>5:35 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>20</td>
              <td>KG Halli</td>
              <td>7:40 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>21</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 12</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Tindlu Circle</td>
              <td>7:50 AM</td>
              <td>5:45 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Virupakshapura</td>
              <td>7:55 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kodigehalli</td>
              <td>8:00 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Sahakar Nagara</td>
              <td>8:05 AM</td>
              <td>5:13 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Sahakar Nagara Temple</td>
              <td>8:10 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Byatarayana Pura</td>
              <td>8:15 AM</td>
              <td>5:08 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Aero Drum</td>
              <td>8:20 AM</td>
              <td>5:03 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Allalasandra Gate</td>
              <td>8:22 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 13</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Basavabhavana</td>
              <td>7:30 AM</td>
              <td>5:50 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>T.B. Cross</td>
              <td>7:32 AM</td>
              <td>5:47 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>D.Cross</td>
              <td>7:33 AM</td>
              <td>5:40 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Ayappa Temple</td>
              <td>7:35 AM</td>
              <td>5:35 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Hospital Circle, D.B Pura</td>
              <td>7:37 AM</td>
              <td>5:32 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Rangappa Circle</td>
              <td>7:40 AM</td>
              <td>5:30 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Sri Nagara</td>
              <td>7:42 AM</td>
              <td>5:27 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Railway Station</td>
              <td>7:45 AM</td>
              <td>5:25 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Bank Circle</td>
              <td>7:47 AM</td>
              <td>5:18 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Factory Circle</td>
              <td>7:48 AM</td>
              <td>5:18 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Marasandra Apartments</td>
              <td>7:50 AM</td>
              <td>5:18 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Marasandra</td>
              <td>7:52 AM</td>
              <td>5:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Ardeshanahalli Gate</td>
              <td>7:55 AM</td>
              <td>5:18 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Adde Gate</td>
              <td>7:57 AM</td>
              <td>5:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Rajanukunte</td>
              <td>8:00 AM</td>
              <td>5:05 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>RT Nagar School</td>
              <td>8:04 AM</td>
              <td>4:57 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Singanayakanahalli</td>
              <td>8:06 AM</td>
              <td>4:55 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>18</td>
              <td>VidyaPeeta School</td>
              <td>8:08 AM</td>
              <td>4:53 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Prestige Apartment</td>
              <td>8:10 AM</td>
              <td>5:18 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Avalahalli, Axis Bank</td>
              <td>8:12 AM</td>
              <td>4:52 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>21</td>
              <td>Nagenahalli Gate</td>
              <td>8:15 AM</td>
              <td>4:50 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>22</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 14</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Airforce Gate Stop</td>
              <td>7:45 AM</td>
              <td>5:35 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Ashwathnagar, Bus Stop</td>
              <td>7:48 AM</td>
              <td>5:33 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Gedalahalli, Ujwal Restaurant</td>
              <td>7:50 AM</td>
              <td>5:32 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Sanjay Nagar, Radhakrishna Temple</td>
              <td>7:52 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Sanjay Nagar, Mangalore Store</td>
              <td>7:55 AM</td>
              <td>5:26 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Sanjay Nagar, Muneshwar Temple</td>
              <td>7:56 AM</td>
              <td>5:24 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Nagashettihalli, Bus Stop</td>
              <td>7:58 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Nagashettihalli, Bakery</td>
              <td>7:58 AM</td>
              <td>5:17 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Badrappalayout, Bus Stop</td>
              <td>7:58 AM</td>
              <td>5:16 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 15</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Yeshawanth Pura</td>
              <td>7:45 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Divanara Palya</td>
              <td>7:48 AM</td>
              <td>5:33 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>SBI Bank</td>
              <td>7:50 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Reliance Fresh</td>
              <td>7:52 AM</td>
              <td>5:28 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Matthikere</td>
              <td>7:54 AM</td>
              <td>5:26 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Gokula</td>
              <td>7:55 AM</td>
              <td>5:26 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Devi Nagar</td>
              <td>8:00 AM</td>
              <td>5:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Raithara Santhe</td>
              <td>8:05 AM</td>
              <td>5:12 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 16</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Peresandra</td>
              <td>7:05 AM</td>
              <td>6:15 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Medical College</td>
              <td>7:07 AM</td>
              <td>6:10 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Doddapailagurki</td>
              <td>7:11 AM</td>
              <td>6:00 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Honegal</td>
              <td>7:17 AM</td>
              <td>5:55 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Chikkaballapura Bus Stand</td>
              <td>7:25 AM</td>
              <td>5:50 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Junior College</td>
              <td>7:27 AM</td>
              <td>5:50 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Chadalapura</td>
              <td>7:37 AM</td>
              <td>5:45 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Nandi Cross</td>
              <td>7:38 AM</td>
              <td>5:42 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Avathi</td>
              <td>7:44 AM</td>
              <td>5:40 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Rani Cross</td>
              <td>7:45 AM</td>
              <td>5:35 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Vijipura Cross</td>
              <td>7:51 AM</td>
              <td>5:30 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Devanahalli</td>
              <td>8:05 AM</td>
              <td>5:20 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Dhaba Gate</td>
              <td>8:05 AM</td>
              <td>5:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Kannamangala Gate</td>
              <td>8:10 AM</td>
              <td>5:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Chikkajala</td>
              <td>8:12 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Bettahalasur</td>
              <td>8:15 AM</td>
              <td>4:55 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Hunasamaranahalli</td>
              <td>8:15 AM</td>
              <td>4:50 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>18</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 17</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>C V Raman Nagar</td>
              <td>7:00 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>DRDO</td>
              <td>7:00 AM</td>
              <td>6:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>BEML Signal</td>
              <td>7:05 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Jeevanbhima Nagar Signal</td>
              <td>7:07 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Hennur Cross</td>
              <td>7:30 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Hennur Bande</td>
              <td>7:32 AM</td>
              <td>5:44 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Geddalahalli Cross</td>
              <td>7:35 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Byrathi Cross</td>
              <td>7:37 AM</td>
              <td>5:35 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Udupi Hotel</td>
              <td>7:40 AM</td>
              <td>5:33 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Narayanapura Kaveri Bakery</td>
              <td>7:45 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Narayanapura Cross</td>
              <td>7:50 AM</td>
              <td>5:28 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Hegde Nagar</td>
              <td>7:52 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Shoba City</td>
              <td>7:54 AM</td>
              <td>5:22 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Bhartiya City</td>
              <td>7:56 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>

            </tr>
            <tr>
              <td>15</td>
              <td>KNS</td>
              <td>7:58 AM</td>
              <td>5:12 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>Bellahalli Cross</td>
              <td>8:00 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>17</td>
              <td>Ettige Factory</td>
              <td>8:05 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>18</td>
              <td>Srinivasapura</td>
              <td>8:06 AM</td>
              <td>4:48 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>19</td>
              <td>Kogilu Maruthi Nagar</td>
              <td>8:08 AM</td>
              <td>4:57 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>20</td>
              <td>Maruthi Nagar</td>
              <td>8:10 AM</td>
              <td>4:57 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>20</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>

          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 18</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Hope Farm</td>
              <td>7:20 AM</td>
              <td>6:30 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Hoodi Bus Stop</td>
              <td>7:30 AM</td>
              <td>6:20 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Gopalan National School</td>
              <td>7:35 AM</td>
              <td>6:17 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Brigade Metropolis Gate</td>
              <td>7:36 AM</td>
              <td>6:17 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Phoenix Market Bus Stop</td>
              <td>7:38 AM</td>
              <td>6:10 PM</td>
              <td>33,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>K R Puram R Station</td>
              <td>7:40 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Tin Factory Bus Stop</td>
              <td>7:42 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Kasturi Nagar</td>
              <td>7:53 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Ramurthy Nagar</td>
              <td>7:50 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 19</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Yelahanka 5th Phase</td>
              <td>7:50 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Yelahanka 4th Phase</td>
              <td>7:55 AM</td>
              <td>5:32 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Dairy Circle</td>
              <td>8:00 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Yelahanka New Town Bus</td>
              <td>8:05 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>NES</td>
              <td>8:15 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Allalasandra Lake</td>
              <td>8:20 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>
            <tr>
              <td>7</td>
              <td>Vishau Park Hotel</td>
              <td>8:20 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Yelahanka Police Station</td>
              <td>8:20 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Yelahanka Old Town</td>
              <td>8:20 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Venkatala</td>
              <td>8:25 AM</td>
              <td>4:55 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 21</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>New BEL Circle</td>
              <td>7:30 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Nagaland Circle Bus stop</td>
              <td>7:35 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Dodda Bommasandra</td>
              <td>7:40 AM</td>
              <td>5:35 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Nanjappa Circle </td>
              <td>7:41 AM</td>
              <td>5:40 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Vidyaranyapura 1st Block</td>
              <td>7:44 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Vidyaranyapura Canara Bank</td>
              <td>7:45 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Vidyaranyapura Post Office</td>
              <td>7:47 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Vidyaranyapura NTI Ground</td>
              <td>7:50 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>

            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 22</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Palace Guttahalli</td>
              <td>7:45 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Mekhri Circle</td>
              <td>7:50 AM</td>
              <td>5:40 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Hebbal</td>
              <td>7:55 AM</td>
              <td>5:35 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Esteem Mall</td>
              <td>7:56 AM</td>
              <td>5:34 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Kodigehalli Gate</td>
              <td>8:00 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Batrayanpura</td>
              <td>8:02 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>G.K.V.K</td>
              <td>8:05 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Aerodrome</td>

              <td>8:07 AM</td>
              <td>5:05 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Allalsandra</td>

              <td>8:10 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Raithara Santhe</td>

              <td>8:15 AM</td>
              <td>4:55 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Kogilu Cross</td>

              <td>8:20 AM</td>
              <td>4:50 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Venkatala</td>

              <td>8:20 AM</td>
              <td>4:48 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Baglur Cross</td>
              <td>8:25 AM</td>
              <td>4:45 PM</td>
              <td>19,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 23</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>1</td>
              <td>University Quarters</td>
              <td>7:10 AM</td>
              <td>6:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Deepa Complex</td>
              <td>7:12 AM</td>
              <td>6:18 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Papareddy Palya</td>
              <td>7:15 AM</td>
              <td>6:16 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>BDA Complex</td>
              <td>7:18 AM</td>
              <td>6:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Kottigepalya</td>
              <td>7:20 AM</td>
              <td>6:10 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Sumanahalli</td>
              <td>7:25 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Kempe Gowda Layout</td>
              <td>7:30 AM</td>
              <td>5:57 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Laggere Flyover</td>
              <td>7:35 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Kantirava Studio</td>
              <td>7:37 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Nandini Layout</td>
              <td>7:40 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Saraswathi Pura</td>
              <td>7:45 AM</td>
              <td>5:35 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Mahalakshmi Ayyappa Temple</td>
              <td>7:47 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Mahalakshmi Entrance</td>
              <td>7:50 AM</td>
              <td>5:25 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Soap Factory</td>
              <td>7:52 AM</td>
              <td>5:15 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 24</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Chikkabanavara DS Max</td>
              <td>7:10 AM</td>
              <td>6:20 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Kereguddahalli</td>
              <td>7:20 AM</td>
              <td>6:05 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Royal Mart</td>
              <td>7:25 AM</td>
              <td>6:00 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Ayyappa School</td>
              <td>7:30 AM</td>
              <td>5:55 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Abbigere Park</td>
              <td>7:35 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>KG Halli</td>
              <td>7:38 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Gangamma Circle</td>
              <td>7:40 AM</td>
              <td>5:35 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Jalahalli West</td>
              <td>7:45 AM</td>
              <td>5:30 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>M S Palya</td>
              <td>7:48 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Sambrram Collage</td>
              <td>7:50 AM</td>
              <td>5:20 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Temple</td>
              <td>7:55 AM</td>
              <td>5:15 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Apartment</td>
              <td>7:58 AM</td>
              <td>5:10 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
        </table>
        </tbody>
        </table>
      </div>
      <hr class="styled-hr1">
      <div class="table-responsive">
        <caption><b>Route 25</b></caption>
        <hr>
        <table id="route" class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Sl No</th>
              <th>Pickup Point</th>
              <th>Pickup Time</th>
              <th>Estimated Reach Time</th>
              <th>Total Fees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Om Shakthi Temple</td>
              <td>7:30 AM</td>
              <td>5:45 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Babusa Palya</td>
              <td>7:35 AM</td>
              <td>5:50 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Kalyan Nagar</td>
              <td>7:37 AM</td>
              <td>5:40 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Nagavara (Ananda Bhavana)</td>
              <td>7:44 AM</td>
              <td>5:30 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Elements Mall</td>
              <td>7:46 AM</td>
              <td>5:28 PM</td>
              <td>30,000 Rs</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Sarayi Palya</td>
              <td>7:47 AM</td>
              <td>5:27 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Ashwath Nagara</td>
              <td>7:48 AM</td>
              <td>5:26 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Thanisandra</td>
              <td>7:49 AM</td>
              <td>5:25 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Reva University</td>
              <td>8:03 AM</td>
              <td>5:00 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Reva Crossing</td>
              <td>8:04 AM</td>
              <td>4:58 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Kattigenahalli</td>
              <td>8:05 AM</td>
              <td>4:57 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Brundavana College</td>
              <td>8:06 AM</td>
              <td>4:56 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>13</td>
              <td>Dwaraka Nagara</td>
              <td>8:07 AM</td>
              <td>4:55 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>14</td>
              <td>Dominos</td>
              <td>8:08 AM</td>
              <td>4:52 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>15</td>
              <td>Bata Showroom</td>
              <td>8:09 AM</td>
              <td>4:50 PM</td>
              <td>25,000 Rs</td>
            </tr>
            <tr>
              <td>16</td>
              <td>NMIT</td>
              <td>8:30 AM</td>
              <td>4:40 PM</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="bg-body-tertiary text-center">
      <div class="contact-info">
        <h4>Contact</h4>
        <hr class="footer-hr">
        <p>Nitte Meenakshi Institute of Technology,</p>
        <p>P.B.No.6429, Yelahanka, Bangalore 560064,</p>
        <p>Karnataka, India.</p>
        <p>Office: 080 2216 7800</p>

        <div class="container p-4 pb-0">

          <section class="mb-4">

            <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;"
              href="https://www.facebook.com/NMITBangalore" role="button"><i class="fa fa-facebook"></i></a>

            <a class="btn text-white btn-floating m-1" style="background-color: #55acee;"
              href="https://x.com/NMITBangalore" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;"
              href="https://www.instagram.com/nmitbangalore/" role="button"><i class="fa fa-instagram"></i></a>

            <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
              href="https://www.linkedin.com/school/nmit-bangalore/" role="button"><i class="fa fa-linkedin"></i></a>
          </section>

        </div>

      </div>

      <div class="rights text-center p-3">
        &copy; 2024 Nitte Meenakshi Institute Of Technology. All Rights Reserved.
      </div>

    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
