<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<form action="/signup" method="post">
    <input placeholder="Name" name="name" type="text" required>
    <br>
    <input placeholder="Password" name="password" type="password" required>
    <br>
    <label for="userType">User Type:</label>
    <select name="userType" required>
        <option value="admin">Admin</option>
        <option value="busIncharge">Bus Incharge</option>
        
    </select>
    <br>
    <input class="sub" type="submit" value="Sign Up">
</form>
</body>
</html>
