/* General Body Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}


/* Header Styling */
header {
    color: white;
}

/* Navbar Styling */
.navbar {
    background-color: #ebf5f9;
    padding: 10px 20px;
}

.navbar .logo {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* Main Content Area */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photo-container {
    position: relative;
    margin-bottom: 20px;
}

.photo-container img {
    width: 100%;
    height: 100%;
}

.fade-in-text {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%) translateX(-100%); 
    color: whitesmoke; 
    font-size: 60px;
    font-weight: bold; 
    opacity: 0;
    animation: fadeInFromLeft 2s forwards; 
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }
}

.transport-info, .announcements {
    margin: 20px; 
    padding: 20px; 
    background-color: #f8f9fa;
    border-radius: 5px; 
    color: rgb(45, 44, 44); 
}


/* Announcements and Transport Info Section */
.transport-info, .announcements {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    color: rgb(45, 44, 44);
}

.transport-info h2, .announcements h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

/* Styled Horizontal Rules */
.styled-hr1 {
    border: 1px;
    height: 2px;
    background: linear-gradient(to right, #4CAF50, #8BC34A);
    margin: 20px 0;
    width: 100%;
}

.styled-hr2 {
    border: 1px;
    height: 2px;
    background: linear-gradient(to right, #121212, #5c5c5c);
    margin: 20px 0;
    width: 5%;
}
.footer-hr{
    border: 1px;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #f7f7f7);
    margin: 10px 0;
    width: 100%;
    display: block !important;
}
/* Footer Styles */
.rights {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    border-radius: 5px; 
    width: 100%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding:0;
    margin:0;
}


.contact-info {
    padding: 50px;
    background: black;
    color:white; 
    border-radius: 5px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    
}

.contact-info p {
    margin: 5px 0; 
    line-height: 1.6; 
}

/* Responsive Design */
@media (max-width: 1200px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    .photo-container img {
        width: auto;
        height: auto;
    }

    .transport-info, .announcements {
        width: auto;
        margin: 10px auto;
    }

    .transport-info h2, .announcements h2 {
        font-size: 30px;
    }

    .fade-in-text {
        font-size: 40px;
    }
    .footer-hr{
        display: block !important;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 5px 0;
    }

    .photo-container img {
        width: 100%;
        height: auto;
    }

    .transport-info, .announcements {
        width: 85%;
        margin: 15px auto;
    }

    .transport-info h2, .announcements h2 {
        font-size: 28px;
    }

    .fade-in-text {
        font-size: 30px;
    }
    .footer-hr{
        display: block !important;
    }
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 10px 0;
    }

    .photo-container img {
        width: 100%;
        height: auto;
    }

    .transport-info, .announcements {
        width: 100%;
        padding: 15px;
        margin: 10px auto;
    }

    .transport-info h2, .announcements h2 {
        font-size: 24px;
    }

    .fade-in-text {
        font-size: 25px;
    }

    .footer-hr{
        display: block !important;
    }

    .contact-info {
        padding: 20px;
        margin: 20px;
    }
}

@media (max-width: 576px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav li {
        margin: 8px 0;
    }

    .photo-container img {
        width: 100%;
        height: auto;
    }

    .transport-info, .announcements {
        width: 100%;
        padding: 10px;
        margin: 8px auto;
    }

    .transport-info h2, .announcements h2 {
        font-size: 20px;
    }

    .fade-in-text {
        font-size: 15px;
    }

    .footer-hr{
        display: block !important;
    }

    .contact-info {
        padding: 20px;
        margin: 20px;
    }
}

/* Mobile Styles */
@media (max-width: 375px) {
    .fade-in-text {
        font-size: 10px;
        left: 5%;
    }

    .transport-info, .announcements {
        padding: 10px;
        margin: 5px auto;
    }

    .transport-info h2, .announcements h2 {
        font-size: 18px;
    }

    .navbar-nav li a {
        font-size: 16px;
    }

    .navbar-toggler {
        margin-top: 5px;
    }
    .footer-hr{
        display: block !important;
    }
    .contact-info {
        padding: 15px;
        margin: 15px;
    }
}

.nav-link {
    color:black !important;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #0056b3 !important;
}
