body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.photo-container {
    margin-bottom: 20px;
}

.photo-container img {
    max-width: 100%;
    height: auto;
}


.rights {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color:#ebf5f9; 
    color: black;
    width: 100%;
    display: flex; 
    align-items: center; 
    padding: 10px 20px; 
}

.logo {
    padding: 10px;
    width: 900px; 
    height: 90px; 
}

.navbar a {
    color: black; 
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 20px;
}

.navbar a:hover {
    text-decoration: underline; 
}


.photo-container {
    position: relative;
    margin-bottom: 20px;
}

.photo-container img {
    width: 100%;
    height: 100%;
}

.fade-in-text {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%) translateX(-100%); 
    color: whitesmoke; 
    font-size: 60px;
    font-weight: bold; 
    opacity: 0;
    animation: fadeInFromLeft 2s forwards; 
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateY(-50%) translateX(-100%); 
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(0);
    }
}

.transport-info, .announcements {
    margin: 20px; 
    padding: 20px; 
    background-color: #f8f9fa;
    border-radius: 5px; 
    color: rgb(45, 44, 44); 
}

.transport-info h2, .announcements h2 {
    font-size: 36px; 
    font-weight: bold;
}

.transport-info p {
    font-size: 22px;
    line-height: 1.5; 
}

.styled-hr1{
    border: 1px;
    height: 2px;
    background: linear-gradient(to right, #4CAF50, #8BC34A);
    margin: 20px 0;
    width: 100%;
}

.contact-info {
    padding: 50px;
    background: linear-gradient(to right, #e1e2e4, #c5ecfd); 
    color:black; 
    border-radius: 8px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    
}

.contact-info p {
    margin: 5px 0; 
    line-height: 1.6; 
}

.announcements li{
 font-size:22px;
}

.styled-hr2{
    border: 1px;
    height: 2px;
    background: linear-gradient(to right, #121212, #5c5c5c);
    margin: 20px 0;
    width: 5%;
}