<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Route</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/admin/addroute.css" />
  </head>
  <body>
    <div class="form-container">
      <img src="../images/nmit-logo.svg" alt="NITTE Logo" class="logo" />
      <h2>Add Route</h2>
      <form id="add-route-form">
        <label for="route-number">Route Number:</label>
        <input type="text" id="route-number" name="route-number" required />

        <label for="bus-number">Bus Number:</label>
        <input type="text" id="bus-number" name="bus-number" required />

        <label for="num-students">Number of Students:</label>
        <input type="number" id="num-students" name="num-students" required />

        <label for="num-seats">Number of Seats:</label>
        <input type="number" id="num-seats" name="num-seats" required />

        <label for="start-point">Start Point:</label>
        <input type="text" id="start-point" name="start-point" required />

        <label for="destination-point">Destination Point:</label>
        <input
          type="text"
          id="destination-point"
          name="destination-point"
          required
        />

        <label for="driver-name">Driver Name:</label>
        <input type="text" id="driver-name" name="driver-name" required />

        <button type="submit">Add Route</button>
      </form>
    </div>
    <scriptsrc="/admin/js/addrout.js"></script>
    </script>
  </body>
</html>