<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Details</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <link rel="stylesheet" href="/admin/paymentdetails.css" />
  <style>

  </style>

  <body>
    <!-- Cards -->
    <div class="student-details">
      <div class="breadcrumb">
        <h2 class="breadcrumb-title">Student Payment Details</h2>
      </div>
      <div class="payment-details">
        <div class="detail-item">
          <span class="label">Student Name:</span><span class="value">Priya
            Darshini I</span>
        </div>
        <div class="detail-item">
          <span class="label">ID:</span><span class="value">12345</span>
        </div>
        <div class="detail-item">
          <span class="label">USN:</span><span class="value">1NT22CS146</span>
        </div>
        <div class="detail-item">
          <span class="label">Branch:</span><span class="value">Computer Science</span>
        </div>
        <div class="detail-item">
          <span class="label">Semester:</span><span class="value">5</span>
        </div>
        <div class="detail-item">
          <span class="label">Pickup Point:</span><span class="value">Devaiah
            Park</span>
        </div>
        <div class="detail-item">
          <span class="label">Phone Number:</span><span
            class="value"
          >7654334567</span>
        </div>
        <div class="detail-item">
          <span class="label">Receipt No:</span><span
            class="value"
          >REC2024001</span>
        </div>
        <div class="detail-item">
          <span class="label">Paid Date:</span><span
            class="value"
          >01-02-2025</span>
        </div>
        <div class="detail-item">
          <span class="label">Due Amount:</span><span class="value">₹ 0</span>
        </div>
        <div class="detail-item">
          <span class="label">Amount Paid:</span><span class="value">₹ 30,000</span>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>