@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
:root 
{
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
body 
{
	min-height: 100vh;
	overflow-x: hidden;
}
.container
{
	position: relative;
	width: 100%;
}

.navigation.active 
{
	width: 80px;
	overflow-y: auto;
	
}
.navigation ul
{
	position: absolute;
	
	
	width: 100%;
}
.navigation {
	

left:0;
	z-index: 1000; /* Ensure it's above other elements */
	overflow-y: auto; /* Enable scrolling if content exceeds height */
}
.navigation ul li 
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a 
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a 
{
	color: var(--blue);
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon ion-icon 
{
	font-size: 1.75em;
}
.navigation ul li a .title 
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}



.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before 
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after 
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}

.main 
{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}
.main.active
{
	width: calc(100% - 80px);
	left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.notify, .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: auto;  
}

.notify {
    padding: 10px 20px; 
}

.notify img, .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox 
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px;
}
.cardBox .card 
{
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers 
{
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--blue);
}
.cardBox .card .cardName 
{
	color: var(--black2);
	font-size: 1.1em;
	margin-top: 5px;
}
.cardBox .card .iconBx 
{
	font-size: 3.5em;
	color: var(--black2);
}
.cardBox .card:hover 
{
	background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx 
{
	color: var(--white);
}



.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px; 
}

.details .recentOrders,
.details .recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin: 0;
}

.recentOrders + .recentCustomers {
    margin-top: 0; 
}
.details .recentOrders,
.details .recentCustomers {
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    min-height: auto;
    height: auto; 
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

.details .recentOrders table tr td,
.details .recentCustomers table tr td {
    padding: 5px 10px; 
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.recentCustomers table tr td h4 {
    font-size: 14px; 
    line-height: 1.4em; 
}


.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
   
}

.btn 
{
	position: relative;
	padding: 5px 10px;
	background: var(--blue);
	text-decoration: none;
	color: var(--white);
	border-radius: 6px;
}
.details table
{
	width: 100%;
	border-collapse: collapse;
	
}
.details table thead td 
{
	font-weight: 600;
}
.details .recentOrders table tr 
{
	color: var(--black1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child 
{
	border-bottom: none;
}
.details .recentOrders table tbody tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.details .recentOrders table tr td 
{
	padding: 5px;
}

.details .recentOrders table tr td:last-child 
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(2)
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(3)
{
	text-align: center;
}

.recentCustomers 
{
	position: relative;
	display: grid;
	min-height: 500px;
	padding: 20px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
}
.recentCustomers .imgBx 
{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.recentCustomers .imgBx img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.recentCustomers table tr td 
{
	padding: 12px 10px;
}
.recentCustomers table tr td h4 
{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2em;
}
.recentCustomers table tr td h4 span 
{
	font-size: 14px;
	color: var(--black2);
}
.recentCustomers table tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.recentCustomers table tr:hover td h4 span 
{
	color: var(--white);
}








.navigation.active 
{
	width: 80px;

}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li 
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a 
{
	position: relative;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: var(--white);
}

.navigation .title .image-wrapper {
    display: inline-block;
    background-color: #FFFFF7; 
    width: 40px; 
    height: 50px; 
    overflow: hidden;
	border-bottom-right-radius: 25px;
	margin: 15px 0;
	border-bottom-left-radius: 25px;
}

.navigation .title img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    
}
.navigation .box {
	margin: 10px;
    padding-top:10px;
 box-sizing:content-box;
}


.navigation ul li:hover a ,
.navigation ul li.hovered a 
{
	color: var(--blue);
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon i 
{
	font-size: 1.75em;
}
.navigation ul li a .title 
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before 
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after 
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}

.topbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle {
    cursor: pointer;
}

.right-section {
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 15px;
}

.notify img,
.user img {
	margin: 5px 0;
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    cursor: pointer;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.collapse-menu {
    display: none; 
    position: absolute; 
    top: 60px; 
    right: 0;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    min-width: 160px; 
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease-in-out; 
    transform: translateY(10px); 
}

.collapse-menu.active {
    display: block;
    opacity: 1;
    pointer-events: auto; 
    transform: translateY(0); 
}

.collapse-menu {
    display: none; 
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    min-width: 160px; 
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    transform: translateY(10px); 
}


.collapse-menu.active {
    display: block;
    opacity: 1; 
    pointer-events: auto; 
    transform: translateY(0); 
}

.collapse-menu a {
    display: block; 
    padding: 12px 15px; 
    color: #555; 
    text-decoration: none; 
    font-size: 14px; 
    font-weight: 500; 
    transition: background-color 0.3s ease, padding-left 0.3s ease; 
    border-bottom: 1px solid #eee; 
}
.collapse-menu a:hover {
    background-color: #f1f1f1; 
    color: #007BFF;
    padding-left: 20px;
}

.collapse-menu a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.collapse-menu a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
}

.avatar:hover {
    background-color: #0056b3; 
}
.rights {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    border-radius: 5px; 
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
	position: fixed;
	bottom:0;
	box-sizing:content-box;
	
	left: 0;
    width: 100%;
}

.navigation {
    position: fixed;
    
}
.main {

    flex: 1;

    overflow: auto;
}









@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
:root 
{
	--blue: #287bff;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
}
body 
{
	min-height: 100vh;
	overflow-x: hidden;
}
.container
{
	position: relative;
	width: 100%;
}
.navigation 
{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--blue);
	border-left: 10px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active 
{
	width: 80px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li 
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a 
{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}
.navigation ul li:hover a ,
.navigation ul li.hovered a 
{
	color: var(--blue);
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon ion-icon 
{
	font-size: 1.75em;
}
.navigation ul li a .title 
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}



.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before 
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after 
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}

.main 
{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}
.main.active
{
	width: calc(100% - 80px);
	left: 80px;
}
.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.notify, .user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: auto;  
}

.notify {
    padding: 10px 20px; 
}

.notify img, .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardBox 
{
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 30px;
}
.cardBox .card 
{
	position: relative;
	background: var(--white);
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.cardBox .card .numbers 
{
	position: relative;
	font-weight: 500;
	font-size: 2.5em;
	color: var(--blue);
}
.cardBox .card .cardName 
{
	color: var(--black2);
	font-size: 1.1em;
	margin-top: 5px;
}
.cardBox .card .iconBx 
{
	font-size: 3.5em;
	color: var(--black2);
}
.cardBox .card:hover 
{
	background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx 
{
	color: var(--white);
}



.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px; 
}

.details .recentOrders,
.details .recentCustomers {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    margin: 0;
}

.recentOrders + .recentCustomers {
    margin-top: 0; 
}
.details .recentOrders,
.details .recentCustomers {
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    min-height: auto;
    height: auto; 
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; 
}

.details .recentOrders table tr td,
.details .recentCustomers table tr td {
    padding: 5px 10px; 
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 10px;
}

.recentCustomers table tr td h4 {
    font-size: 14px; 
    line-height: 1.4em; 
}


.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
   
}

.btn 
{
	position: relative;
	padding: 5px 10px;
	background: var(--blue);
	text-decoration: none;
	color: var(--white);
	border-radius: 6px;
}
.details table
{
	width: 100%;
	border-collapse: collapse;
	
}
.details table thead td 
{
	font-weight: 600;
}
.details .recentOrders table tr 
{
	color: var(--black1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.details .recentOrders table tr:last-child 
{
	border-bottom: none;
}
.details .recentOrders table tbody tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.details .recentOrders table tr td 
{
	padding: 5px;
}

.details .recentOrders table tr td:last-child 
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(2)
{
	text-align: end;
}
.details .recentOrders table tr td:nth-child(3)
{
	text-align: center;
}

.recentCustomers 
{
	position: relative;
	display: grid;
	min-height: 500px;
	padding: 20px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	border-radius: 20px;
}
.recentCustomers .imgBx 
{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.recentCustomers .imgBx img 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.recentCustomers table tr td 
{
	padding: 12px 10px;
}
.recentCustomers table tr td h4 
{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2em;
}
.recentCustomers table tr td h4 span 
{
	font-size: 14px;
	color: var(--black2);
}
.recentCustomers table tr:hover 
{
	background: var(--blue);
	color: var(--white);
}
.recentCustomers table tr:hover td h4 span 
{
	color: var(--white);
}


.navigation 
{
	position: fixed;
	width: 300px;
	height: 100%;
	background: var(--blue);
	border-left: 10px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active 
{
	width: 80px;
}
.navigation ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li 
{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
	background: var(--white);
}
.navigation ul li:nth-child(1)
{
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a 
{
	position: relative;
	display: flex;
	width: 100%;
	text-decoration: none;
	color: var(--white);
}

.navigation .title .image-wrapper {
    display: inline-block;
    background-color: #FFFFF7; 
    width: 40px; 
    height: 50px; 
    overflow: hidden;
	border-bottom-right-radius: 25px;
	margin: 15px 0;
	border-bottom-left-radius: 25px;
}

.navigation .title img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    
}
.navigation .box {
	margin: 10px;
    padding-top:10px;
 box-sizing:content-box;
}


.navigation ul li:hover a ,
.navigation ul li.hovered a 
{
	color: var(--blue);
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
}
.navigation ul li a .icon i 
{
	font-size: 1.75em;
}
.navigation ul li a .title 
{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

.navigation ul li:hover a::before, 
.navigation ul li.hovered a::before 
{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--white);
	pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after 
{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--white);
	pointer-events: none;
}

.topbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.toggle {
    cursor: pointer;
}

.right-section {
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 15px;
}

.notify img,
.user img {
	margin: 5px 0;
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    cursor: pointer;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
.collapse-menu {
    display: none; 
    position: absolute; 
    top: 60px; 
    right: 0;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    min-width: 160px; 
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease, transform 0.3s ease-in-out; 
    transform: translateY(10px); 
}

.collapse-menu.active {
    display: block;
    opacity: 1;
    pointer-events: auto; 
    transform: translateY(0); 
}




.collapse-menu a {
    display: block; 
    padding: 12px 15px; 
    color: #555; 
    text-decoration: none; 
    font-size: 14px; 
    font-weight: 500; 
    transition: background-color 0.3s ease, padding-left 0.3s ease; 
    border-bottom: 1px solid #eee; 
}
.collapse-menu a:hover {
    background-color: #f1f1f1; 
    color: #007BFF;
    padding-left: 20px;
}

.collapse-menu a:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.collapse-menu a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; 
}

.avatar:hover {
    background-color: #0056b3; 
}
.rights {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    border-radius: 5px; 
    width: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
	position: fixed;
	bottom:0;
	box-sizing:content-box;
	left: 0;
    width: 100%;
}

.navigation {
    position: fixed;
    
}
.main {

    flex: 1;

    overflow: auto;
}
/*now, make it responsive design */
@media (max-width: 991px)
{
	.graphBox
	{
    grid-template-columns: 1fr;
		height: auto;
	}
	.navigation
	{
		left: -300px;
	}
	.navigation.active
	{
		width: 300px;
		left: 0;
	}
	.main
	{
		width: 100%;
		left: 0;
	}
	.main.active
	{
		left: 300px;
	}
	.cardBox
	{
    grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 768px)
{
	.details
	{
    grid-template-columns: repeat(1,1fr);
	}
	.recentOrders
	{
		overflow-x: auto;
	}
	.status.inprogress
	{
		white-space: nowrap;
	}
}


@media (max-width: 480px)
{
	.cardBox
	{
    grid-template-columns: repeat(1,1fr);
	}
	.cardHeader h2
	{
		font-size: 20px;
	}
	.user
	{
		min-width: 40px;
	}
	.navigation
	{
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active 
	{
		width: 100%;
		left: 0;
	}
	.toggle 
	{
		z-index: 10001;

	}
	.main.active .toggle 
	{
		position: fixed;
		right: 0;
		left: initial;
		color: var(--white);
	}
}
