body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: var(--black1);
}

.payment-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 20px;
  width: 100%;
  max-width: 1500px;
  margin-top: 8px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: linear-gradient(145deg, #f3f3f3, #ffffff);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s;
}

.detail-item:hover {
  transform: translateY(-8px);
}

.label {
  font-weight: 600;
  color: blue;
  font-size: 16px;
  margin-bottom: 8px;
}

.value {
  color: #34495e;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .details {
    grid-template-columns: 1fr;
  }
}

.breadcrumb {
  display: flex;
  align-items: baseline;
  padding: 20px 30px 0;
  background-color: #fff;
  border-left: 4px solid blue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breadcrumb-title {
  font-size: 28px;
  color: #2c2c2c;
  font-weight: 500;
}

.breadcrumb-nav {
  display: flex;
  align-items: baseline;
}

.breadcrumb-link {
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 2px;
  align-items: baseline;
  color: blue;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  font-size: 16px;
  color: var(--blue);
  font-weight: 500;
}

.breadcrumb-link span {
  color: black;
}

#searchInput {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  width: 300px;
  font-size: 14px;
  transition: all 0.3s ease;
}

#searchInput:focus {
  border-color: blue;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.search-container {
  margin-left: auto;
}

@media (max-width: 768px) {
  #searchInput {
    width: 100%;
    margin: 10px 0;
  }
}

.student-details {
  padding: 1rem;
}

.student-details h2 {
  color: black;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
